{% extends "base.html" %}
{% set current_page = "login" %}
{% block title %}Mingle - {{ title }}{% endblock %}
{% block main %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8-tablet is-6-desktop is-4-widescreen">
                        <div class="box">
                            <h1 class="title has-text-centered is-size-3-mobile is-size-2-tablet">Welcome Back</h1>
                            <p class="subtitle has-text-centered is-size-6-mobile is-size-5-tablet mb-5">
                                Log in to continue your manga adventure
                            </p>
                            <form action="" method="POST" novalidate>
                                {{ form.hidden_tag() }}
                                {% with messages =
                                    get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {%
                                        for category, message in messages %}
                                        <div class="notification is-{{ category }} is-light has-text-centered">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="field">
                                {{ form.username.label(class="label") }}
                                <div class="control has-icons-left">
                                    {{ form.username(class="input is-medium", placeholder="Enter your username", required=true) }}
                                    <span class="icon is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                {% for error in form.username.errors %}<p class="help is-danger">{{ error }}</p>{% endfor %}
                            </div>
                            <div class="field">
                                {{ form.password.label(class="label") }}
                                <div class="field has-addons">
                                    <div class="control has-icons-left is-expanded">
                                        {{ form.password(class="input is-medium", id="password", placeholder="Enter your password", required=true) }}
                                        <span class="icon is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <a class="button is-info is-medium" id="show-password">
                                            <span class="icon">
                                                <i class="fas fa-eye" id="password-icon"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                {% for error in form.password.errors %}<p class="help is-danger">{{ error }}</p>{% endfor %}
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        {{ form.remember_me() }}
                                        <span class="ml-2">{{ form.remember_me.label }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="field mt-5">
                                {{ form.submit(class="button is-primary is-fullwidth is-medium") 
                                }}
                            </div>
                            <div class="has-text-centered mt-3">
                                <a href="#" class="is-size-6 has-text-primary" id="forgot-password-link">Forgot Password?</a>
                            </div>
                        </form>
                        <hr class="has-background-grey-lighter my-4" />
                        <div class="has-text-centered mt-5">
                            <p class="is-size-6 mb-2">New to Mingle?</p>
                            <a href="/register" class="button is-light is-outlined">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
